<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        <%= gallery.title %>
    </h2>
    <% for (const image of gallery.images) { %>
        <img src="<%= images.find(i => i.filename === image.filename).url %>" alt="<%= image.filename %>">
        <% } %>

</body>
</html>