<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    h1{
       
        text-align: center;
        color: aliceblue;
    }
    .intro{
         margin-top: 30px;;
       min-height: 100vh;
           width:100%;
           background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url("vulc.jpg");  
           background-position: center;
           background-size: cover;
              position: relative;
    }
    button{
        justify-content: center;
        align-items: center;
        
    }
</style>
<body>
    <div class="intro">
        <h1>Welcome NIT Andhra Folks!</h1>
        <button><button class="btn btn-outline-warning btn" onclick="window.location.href='/google/'">
                <strong>
                    <h5>Login </h5>
                </strong> <i> Using institute mail id</i>
            </button>>
    </div>
    
</body>
</html>
